.col-1-inside-row {
  border-right: 1px solid black;
}
.connected-users {
  background-color: grey;
}
.style1 {
  display: flex;
  background-color: green;
}
.style2 {
  display: flex;
  background-color: grey;
}
.min-width-80 {
  min-width: 80px;
}
